#ignore all
*

#but not...
!*.h
!*.cpp
!*.tpp
!*.hpp
!*.md
!*.yml
!core/
!core/*
!core/OPT/extensions/
!core/OPT/extensions/*
!core/OPT/optimizers/
!core/OPT/optimizers/*
!core/MESH/
!core/MESH/*
!core/MESH/engines/
!core/MESH/engines/*
!core/MESH/engines/ADTSearch/
!core/MESH/engines/ADTSearch/*
!docs/
!docs/*
!docs/core/OPT/
!docs/core/OPT/*
!docs/core/MESH/
!docs/core/MESH/*
