#ignore all
*

#but not...
!*.h
!*.cpp
!*.tpp
!*.hpp
!*.md
!*.yml
!fdaPDE/
|fdaPDE/*
!wrappers/
!wrappers/**
!fdaPDE/core/
!fdaPDE/core/*
!fdaPDE/core/utils/
!fdaPDE/core/utils/*
!fdaPDE/core/OPT/extensions/
!fdaPDE/core/OPT/extensions/*
!fdaPDE/core/OPT/optimizers/
!fdaPDE/core/OPT/optimizers/*
!fdaPDE/core/MESH/
!fdaPDE/core/MESH/*
!fdaPDE/core/MESH/engines/
!fdaPDE/core/MESH/engines/*
!fdaPDE/core/FEM/
!fdaPDE/core/FEM/*
!docs/
!docs/*
!docs/core/OPT/
!docs/core/OPT/*
!docs/core/MESH/
!docs/core/MESH/*
!docs/core/utils/
!docs/core/utils/*
!test/
!test/*
!.github/
!.github/*
!.github/workflows/
!.github/workflows/*

*.csv
*.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz

!test/CMakeLists.txt
