[submodule "fdaPDE/core"]
	path = fdaPDE/core
	url = https://github.com/RiccardoSena/fdaPDE-core.git
	branch = stable
[submodule "/home/jellyfish/fdaPDE-cpp/fdaPDE/core"]
	url = https://github.com/RiccardoSena/fdaPDE-core.git
