*.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode

#plots
*.pdf
*.png

#help files
*.csv

#docs files
*.puml
.Rproj.user

#some test directories
experiments/
