.md-footer__inner {
  display: none;
}

/* Give the main header an underline. */

h1 {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid #ddd;
}

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.md-typeset__table td{
   width: 200px;
}

.md-nav--secondary {
    display: none;
}

.md-sidebar--secondary {
    width: 0;
    margin-right: 0;
}
